.nav1 {
    margin-top: 0px;
}
.nav0{
    margin-bottom: 0;
}

.nav1 li {
    margin-right: 10px;
    margin-left: 10px;
}

.navbt {
    width: 60px;
}

.box1 {
    width: 100%;
    height: 50px;
    background-color: #222222;
}
.box2{
    width: 100%;
    height: 120px;
    background-image: url(../images/infor.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20% 0;
    position: relative;
}
.box3{
    width: 60px;
    height: 40px;
    color: lightgrey;
    position: absolute;
    left: 700px;
    top: 40px;
}
.box4{
    width: 1000px;
    height: 100px;
    position: absolute;
    left: 800px;
    top: 10px;
}
.box4 ul{
    line-height: 100px;
}
.box4 ul li{
    display: inline-block;
    width: 100px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    list-style: none;
    margin-right: 40px;
}
.box4 ul li a{
    display: inline-block;
    font-size: 16px;
    color: #000;
    width: 100px;
    height: 80px;
}
.box4 ul li a:hover{
    color: orangered;
    text-decoration: none;
    border-bottom: 2px solid orangered;
}
.footer{
    width: 100%;
    background-color: #222;
    height: 350px;
}
.footer1{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: lightgrey;
    padding-top: 40px;
}
.bgp{
    width: 100%;
    height: 300px;
    background-image: url(../images/bgp4.png);
}
.box5{
    width: 100%;
    height: 800px;
}
.box6{
    width: 80%;
    height: 800px;
    margin: 0 auto;
    margin-right: 5%;
}
.box61,.box66{
    display: inline-block;
    border: 1px solid lightgrey;
    width: 550px;
    height: 300px;
}
.box61 img,.box66 img{
    width: 549px;
    height: 280px;
}
.box62,.box63,.box64,.box65{
    display: inline-block;
    border: 1px solid lightgrey;
    width: 400px;
    height: 300px;
    margin-top: 40px;
}
.box62 img,.box63 img,.box64 img,.box65 img{
    width: 399px;
    height: 280px;
}
.box61:hover,.box62:hover,.box63:hover,.box64:hover,.box65:hover,.box66:hover{
    box-shadow: 0 0 5px grey;
}